rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Временные правила для разработки - разрешаем все
    // TODO: Заменить на строгие правила после добавления аутентификации
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
